
.experience-card {
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0.5em 1em -0.125em rgba(20, 24, 36, 0.2), 0 0px 0 1px rgba(20, 24, 36, 0.02) !important;
  padding-left: 10px;
  padding-right: 10px;

  .inside-exp {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 88%;  
  }


  .image {
    max-width: 100px;
    margin-left: 12px;
    padding-bottom: 10px;
    padding-right: 15px;
  }


  h1.title {
    margin-bottom: 5px;
    font-size: $size-5;
  }

  ul {
    margin-left: 1.2rem;
  }

  li {
    list-style-type: square;
    font-size: 0.92rem;
  }
}


  .mainImage {
    max-width: 300px;
    margin: 0;
  }