.footer-hero {
	background-color: #1c1c1c !important;
	padding-top: 100px;
	margin-top: 100px;
}

.copyrightText {
	color: #707070;
	padding-bottom: 20px;
}

.linksSocial {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 3em;
}

.mainLinks {
	padding-bottom: 50px;
}

#stayConnected {
	font-size: 1.4em;
	font-weight: 600 !important;
	padding-bottom: 20px;
}

.socialLinks {
	color: white;
}