.is-child {
	box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.25), 0 0px 0 1px rgba($scheme-invert, 0.02);
	padding: 20px;
}

.projectPic {
	max-height: 250px;
	padding-bottom: 20px;
}

.DevpostLink {
	color: $darkred;
	&:hover{
		border-bottom: 1px solid black;
		cursor: pointer;

	}
}